* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;/* firefox 2.0*/
	-webkit-box-sizing: border-box;/* chrome 4.0 safari 3.2 */
}
input {
	margin-bottom: 20px;
}
textarea {
	margin-bottom: 20px;
}

/* style for header */
.header {
	border-bottom: 1px solid green;
	position: fixed;
	top: 0;
	width: 100%;
	height: 85px;
	background-color: white;
	z-index: 2;
}
.header ul {
	padding-left: 40px;
	list-style-type: none;
}

.header li{
	float: left;
}

.header .button1 {
	display: block;
	border: 1px solid black;
	margin: 15px 30px;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 8px 16px;
}

.header .button1:hover {
	background-color: #eee;
	color: black;
}

.header .button2 {
	margin: 20px 50px;
}

/* Style for menu */
.sidebar {
	background-color: #aaa;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.sidebar a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
}

.sidebar a:hover {
    background-color: #ccc;
    color: black;
}

.sidebar a.active {
	background-color: #eee;
	color: black;
	border: 0px;
}

/* Style for the page */
.content {
	margin-top: 85px;
	background-color: #11f1f1;
	height: auto;
	padding: 0 0 10px 0;
}

.tableList{
	padding: 30px;
	margin:10px 50px;
}

.myinfo {
	padding: 30px 80px;
	margin:10px 50px;
}

/* Style for page login */
.login {
	margin: 20px;
	height: auto;
	padding: 5px;
}

.login button {
	margin-bottom: 15px;
}

/* Style for footer */
.footer {
	height: auto;
	background-color: white;
	padding: 30px;
}

/* responsive */
@media screen and (max-width: 568px){
	/* menu */
	.sidebar a {
		width: 100%;
	}

	.header .button2 {
		margin: 20px 10px;
	}
}